@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Spacer for fixed navbar -->
<div style="height: 100px;"></div>

<div class="container pb-5">
    <div class="card border-0 shadow-sm rounded-xl p-4">
        <h1>@ViewData["Title"]</h1>
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>
